html {
    scroll-behavior: smooth;
}

body{
    background-color: black;
}

.hero-gradient {
    position: relative;
    background: linear-gradient(to bottom right, #050d3c, #4a0c70);
}

.hero{
    color: #31094b;
}

.wave-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.image {
    padding: 0%;
    border: none;
    margin: none;
    background:none;
    position: relative;
}

.wave-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
}

.wave-bottom .shape-fill {
    fill: #FFFFFF;
}

.cloud {
    position: absolute;
    background: rgba(82, 78, 181, 0.084);
    border-radius: 50%;
    animation: float 15s infinite linear;
}

.cloud1 {
    width: 200px;
    height: 60px;
    top: 20%;
    left: 10%;
    animation-duration: 20s;
}

.cloud2 {
    width: 300px;
    height: 100px;
    top: 50%;
    right: 15%;
    animation-duration: 25s;
}

.cloud3 {
    width: 150px;
    height: 40px;
    bottom: 30%;
    left: 20%;
    animation-duration: 18s;
}

@keyframes float {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}
